requests==2.31.0
beautifulsoup4==4.12.2
google-api-python-client==2.118.0
google-auth-httplib2==0.1.1
google-auth-oauthlib==1.2.0
icalendar==5.0.11
pytz==2024.1
python-dotenv==1.0.1
selenium==4.17.2
urllib3<2.0.0
bs4==0.0.2
lxml==5.1.0
webdriver-manager==4.0.1